requests
python-dotenv
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-cloud-aiplatform
google-cloud-firestore
google-cloud-storage
fastapi
uvicorn[standard]
pydantic
apscheduler>=3.10,<4.0
PyPDF2
firebase-admin
sendgrid
google-cloud-secret-manager